
@{
    ViewData["Title"] = "Opłacono";
}

<section class="p-3 pt-5">
    <div class="container mt-5 mb-5 border rounded bg-light p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <br><h1>Gratulacje!</h1><br><br>
                    <h3>Zamówienie zostało opłacone</h3>
                </div>
            </div>
        </div>
    </div>
</section>

