@model MVC.Models.AddEmployeeModel

@{
    ViewData["Title"] = "Dodawanie pracownika";
}

<section class="section-padding">
    <div class="container mt-5 mb-5 border rounded bg-light p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <br><h2>Dodawanie pracownika</h2>
                </div>
            </div>
        </div>
        <div class="text-center">
            @using (Html.BeginForm("Add", "Employee"))
            {
                <p>Podaj email pracownika @Html.TextBoxFor(m => m.Email)</p>
                <input type="submit" value="Dodaj" class="btn btn-dark" />
            }
        </div>
    </div>
</section>

