* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-link a {
    text-decoration: none;
}

.sign {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}